* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbo-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobster-font {
    font-family: 'Lobster', cursive;
}

.light-grey {
    color: #767679;
}

.jumbotron {
    height: 70vh;
    max-width: 90%;
}

.sm-sec-2 {
    max-width: 65%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}