* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lobster-font {
    font-family: 'Lobster', cursive;
}

.jumbotron {
    height: 70vh;
    max-width: 90%;
}

.jumbo-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-sec {
    max-width: 75%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-grey {
    color: #767679;
}

.back-img-1 {
    background-image: url(../img/tat-p-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55vw;
    height: 60vh;
}

@media all and (min-width: 280px) and (max-width: 980px) {
    .back-img-1 {
        background-image: url(../img/tat-p-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 95vw;
    }
}

@media all and (max-width:992px) {
    .tt-cent {
        text-align: center;
    }
}

.back-img-2 {
    background-image: url(../img/tat-p-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55vw;
    height: 60vh;
}

@media all and (min-width: 280px) and (max-width: 980px) {
    .back-img-2 {
        background-image: url(../img/tat-p-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 95vw;
    }
}

.jumb-2 {
    height: 55vh;
    max-width: 90%;
}

.ig-bg{
    background-image: url(../img/ig-tat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sc-bg{
    background-image: url(../img/sc-tat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tt-bg{
    background-image: url(../img/tiktok-tat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tw-bg{
    background-image: url(../img/twit-tat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.yt-bg{
    background-image: url(../img/yt-tat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-hro {
    background-image: url(../img/first-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

@media all and (min-width: 280px) and (max-width: 980px) {
    .f-hro {
        background-image: url(../img/first-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 95vw;
    }
}

.bk:hover {
    background-size: 85%;
    
}